<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.dentbill.businessPartners.vo.BusinessPartnerVO" alias="BusinessPartner"/>
		<typeAlias type="com.dentbill.dentalProsthetics.vo.DentalProstheticsVO" alias="DentalProsthetics"/>
		<typeAlias type="com.dentbill.transaction.vo.TransationVO" alias="Transaction"/>
	</typeAliases>
</configuration>

